<h1 class="text-center"><%= @blog_post.title %></h1>
<h2 class="text-center">Posted in <%= @user_blog.title %></h2>
<p class="text-center"><%= @blog_post.date_posted %></h1>
<p class="text-center"><%= @blog_post.blog_text %></h1>
