<h1 class="text-center">Your Blogs</h1>

<ul class="list-group">
  <% @blogs.each do |blog| %>
    <li class="list-group-item text-center center-block"><%= link_to blog.title, blog %></li>
  <% end %>
</ul>
